@using PagedList.Mvc;
@model PagedList.IPagedList<AspNetMVC.DAL.Models.Student>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Students
            </div>
            <div class="panel-body ">
                <div class="mb-1 clearfix">
                    <a class="btn btn-primary pull-right" data-toggle="modal" href="#addModal">Add Student</a>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Course</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>
                                @foreach (var data in item.StudentCourses)
                                {
                                    <p>@data.Course.Code</p>
                                }
                            </td>
                            <td>@item.Address</td>
                            <td>@item.PhoneNumber</td>
                            <td>Actions Here</td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

